body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #ced4a2 ;
}

.header {
    padding: 20px;
    background: #9ba657;
    color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.header h1 {
    margin: 0;
    font-size: 32px;
}

.subtitulo {
    margin-top: 5px;
    font-size: 16px;
    opacity: 0.9;
}

.contenedor {
    margin: 40px auto;
    padding: 20px;
    width: 85%;
    max-width: 400px;
    background: white;
    border-radius: 18px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}
.contenedor h2 {
    margin-top: 0;
    color: #a68c69;
    font-size: 24px;
}

.planta {
    width: 300px;
    margin: 15px 0;
    transition: transform 0.5s ease;
}

.datos p {
    font-size: 18px;
    margin: 10px 0;
}

.datos span {
    font-weight: bold;
    color: #737a44;
}

.contenedor {
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.contenedor:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.7);
}